.opportunities-main {
    padding: 96px 128px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

@media screen and (max-width: 1200px) {
    .opportunities-container{
        flex-direction: column;
        gap: 48px;
    }
}

@media screen and (max-width: 768px) {
   

    .opportunities-main {
        padding: 48px 24px;
    }

    .hero-feature-icon{
        display: none;
    }

    .feature{
        padding: 10px 12px;
        font-size: 12px;
        color: #992E9D;
    }

    .opportunities-head{
        font-size: 24px !important;
    }

    .certificate-box{
        padding: 20px !important;
    }
}

.opportunities-head-highlight{
    color: #992E9D;
}

.opportunities-head {
    color: #686972;
    font-size: 48px;
    font-weight: 600;
}

.image {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 10px; 
    box-sizing: border-box; 
}

.image img {
    width: 100%; 
    height: auto; 
    max-width: 600px; 
    border-radius: 10px; 
}


.opportunities-container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.certificate-box {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    background-color: rgb(251, 245, 251);
    border: 1px solid rgb(247, 235, 251);
    border-radius: 24px;
    padding: 20px;
    gap: 20px;
    
}

@media screen and (min-width: 769px){
    .internship-box,
    .certificate-box {
        width: 100%;
    }
}

.internship-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 252, 236);
    border: 1px solid rgb(253, 245, 202);
    border-radius: 24px;
    padding: 20px;
    gap: 25px;
}

.certificate-head {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.internship-head-1 {
    font-size: 28px;
    font-weight: 600;
}

.certificate-features {
    display: flex;
    justify-content: space-around;
}

.feature {
    background-color: rgb(247, 235, 251);
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid rgb(239, 215, 246);
    gap: 6px;
    border-radius: 999px;
}