.primary-header {
    display: flex;
    justify-content: space-between;
    padding: 24px 128px;
    align-items: center;
}

.header-logo {
    text-transform: uppercase;
}

.header-links {
    display: flex;
    gap: 12px;
    align-items: center;
}

.login-link {
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.secondry-header {
    background-color: #3B3B3E;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px 0px;
}

.active {
    cursor: pointer;
    position: relative;
  }
  
  .active::after {
    content: '';
    position: absolute;
    top: 32.5px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 10px 10px 0px 0px;
    background-color: #FFA50B;
  }
  

.secondry-header-link{
    cursor: pointer;
}

.sign-up-btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background: linear-gradient(180deg, #B73BBE 0%, #992E9D 93.51%);
    box-shadow: 0px 8px 24px -10px rgba(153, 46, 157, 0.50); 
    border-radius: 14px; 
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .primary-header {
        padding: 56px 24px 18px 24px;
    }

    .secondry-header{
        padding: 12px 10px;
    }
}