.internship-main {
    padding: 64px 128px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.internship-heading {
    background: linear-gradient(180deg, #B872D0 0%, #372FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.work-points{
    display: flex;
    flex-direction: column;
    gap: 60px;
    z-index: 10;
    position: relative;
}

/* 
.line{
    top: 10px;
    left: 30px;
    width: 2px;
    z-index: - !important;
    height: 480px;
    background: #000000;
    position: absolute;

} */

.icon {
    width: 64px;
    height: 64px;
}


@media screen and (max-width: 768px) {
    .internship-main {
        padding: 28px 24px;
    }

    .internship-heading {
        font-size: 28px;
    }

    .internship-main {
        gap: 20px;
    }
}




.apply-now {
    display: flex;
    justify-content: center;

}

.apply-now-btn {
    display: flex;
    width: fit-content;
    color: white;
    padding: 15px 28px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(176deg, #800080 -2.53%, #7E267E 27.29%);
}

.upper{
    display: flex;
    gap: 50px;
}

.upper-point{
    display: flex;
    gap: 20px;
}

.lower{
    display: flex;
    padding: 0px 240px;
    gap: 70px;
}

.lower-point{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .upper{
        flex-direction: column;
    }

    .lower{
        flex-direction: column;
        padding: 0px;
        gap: 50px;
    }

    .work-points{
        gap: 50px;
    }
    
}

